@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.background-image {
  background-image: url("https://cdn.pixabay.com/photo/2015/03/26/10/58/apple-692186_960_720.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 600px;
}
